<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybuse.schoolbackend.account_and_class.mapper.AccountAndClassMapper">

    <resultMap id="BaseResultMap" type="com.ybuse.schoolbackend.account_and_class.domain.po.AccountAndClassPo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,class_id,
        create_time
    </sql>
</mapper>
