<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybuse.schoolbackend.class_and_other.mapper.ClassAndOtherMapper">

    <resultMap id="BaseResultMap" type="com.ybuse.schoolbackend.class_and_other.domain.po.ClassAndOtherPo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="amId" column="am_id" jdbcType="INTEGER"/>
            <result property="csId" column="cs_id" jdbcType="INTEGER"/>
            <result property="classNo" column="class_no" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,am_id,cs_id,
        class_no,create_time
    </sql>
</mapper>
