<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybuse.schoolbackend.qr_image.mapper.QrImageMapper">

    <resultMap id="BaseResultMap" type="com.ybuse.schoolbackend.qr_image.domain.po.QrImagePo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="qrUuid" column="qr_uuid" jdbcType="VARCHAR"/>
            <result property="qrTitle" column="qr_title" jdbcType="VARCHAR"/>
            <result property="qrContent" column="qr_content" jdbcType="VARCHAR"/>
            <result property="qrFooter" column="qr_footer" jdbcType="VARCHAR"/>
            <result property="qrImageUrl" column="qr_imageUrl" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,qr_uuid,qr_title,
        qr_content,qr_footer,qr_imageUrl,
        create_time
    </sql>
</mapper>
